@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <img src='css/photos/adults (2).png' alt="" height="90" width="120"/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
